@(env: PlayerRoom, player : Integer, message: String)


@gamemain(env.name) {
    		

<div style="position:static;margin-top:3%;">  
<p class="text-left" style="position:absolute;margin-top:0%;"><b> Player:  P @player</b></p>
<p  style="position:absolute;left:40%;margin-top:0%;" ><b>Bullets :<span id="bulletnumber" >0</span> </b></p>
<p class="text-right" ><b>Score :<span id="messageshow" > 0</span> </b></p>
<p class="text-center alert alert-error" id="error"> @message</p>
 </div>
 <div style="height:100%;">
  		<table style="width:100%;height:100%;">
  		<tr>
  			<td></td>
  			<td><button style="width:100px;height:100px" id ="up" class="btn btn-primary "><b  style="color:white;font-size:5em;text-align:center"> ^ </b></button></td>
  			<td></td>  			
  		</tr>
  		<tr>
  			<td><button style="width:100px;height:100px"  id ="left" class="btn btn-success"><b  style="color:white;font-size:5em;"> < </b></button></td>
  			<td></td>
  			<td><button style="width:100px;height:100px"  id ="right" class="btn btn-success"><b  style="color:white;font-size:5em;"> > </b></button></td>  			
  		</tr>
  		</table>  
<br><br><br>
<center><a href="@routes.Application.quitgame()"><button class="btn btn-medium btn-danger "  > QUIT</button></a></center>
  </div>
		

		  	  	
	<script>  var playerid = @player; </script>
  <script src="@routes.Assets.at("javascripts/game_main.js")" type="text/javascript"></script>	
}
